@page "{id:int}"
@model Instructors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
             @Html.DisplayNameFor(model=>model.Data.LastName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model=> model.Data.LastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model=>model.Data.FirstMidName)
        </dt>
        <dd class="col-sm-8" >
            @Html.DisplayFor(model=> model.Data.FirstMidName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model=>model.Data.HireDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model=> model.Data.HireDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="CreateEdit" asp-page-handler="Edit" asp-route-id="@Model.Data.Id">Edit</a> |
    <a asp-page="Index">Back to List</a>
</div>
